# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\ASHB#ATZ\Desktop\S.O.P\Richfield\BSC IT_YEAR 2\Semester 1\Programming 621\Programming621-C-\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
